# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment variables
.env
.env.*.local

# Logs
logs/
*.log

# Certificados e chaves privadas (não versionar)
*.pem
*.key
*.crt

# AWS Lambda specific
.aws-sam/
.aws/

# TypeScript
*.tsbuildinfo

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Others
coverage/
.cache/

.serverless/
